body{
    background-color: #E3F4F4;
}
@media (max-width: 768px) {
    /* Adjust the styles for screens with a maximum width of 768px */
    .MuiContainer-maxWidthLg {
      margin-left: 0;
    }
    
    section {
      gap: 10px;
    }
    
    div[style*='backgroundColor:white;'][style*='zIndex:1;'] {
      margin-left: 0;
      padding: 10px;
    }
  }
  